.chats-body {
  padding: 0;
}
.chats-body .status-bar {
  padding: 10px 20px 25px 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.chats-body .header {
  position: fixed;
  width: 100%;
  height: 20px;
  padding: 30px 20px;
  top: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}

.chats-body .chat__write {
  padding: 0px 20px;
}

.chat-screen {
  background-image: url("../images/chatBg.png");
  min-height: 120vh;
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__messages .chat__timestamp {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 30px 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.message {
  display: flex;
  align-items: flex-start;
  width: auto%;
  padding: 5px 10px;
}

.message .message__content {
  width: auto%;
}

.message .message__bubble {
  padding: 10px 20px;
  background-color: white;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.incoming-message {
  align-self: flex-start;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
}

.incoming-message .message__author {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
}
.sent-message {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.message__timestamp {
  font-size: 12px;
  opacity: 0.7;
  padding: 0px 2px;
  align-self: flex-end;
}

.incoming-message img {
  width: 40px;
  height: 40px;
  border-radius: 35%;
  margin-right: 15px;
}

.chat__write {
  background-color: #fcfcfc;
  position: fixed;
  width: 90%;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-radius: 40px;
  margin: 0 auto;
  left: 0;
  right: 0;
  box-shadow: 00 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  width: 95%;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
}

.chat__write-column input:focus {
  outline: none;
}
